<header th:fragment="header">
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="menu-wrapper">
                        <!-- Logo -->
                        <div class="logo">
                            <a href="/"><img src="assets/img/logo/logo.png" alt=""></a>
                        </div>
                        <!-- Main-menu -->
                        <div class="main-menu d-none d-lg-block">
                            <nav>                                                
                                <ul id="navigation">  
                                    <li><a href="/">Home</a></li>
                                    <li><a href="/shop">shop</a></li>
                                    <li class="hot"><a href="#">Finalização</a>
                                        <ul class="submenu">
                                            <li><a href="cart">Carrinhho</a></li>
<!--                                             <li><a href="#">Element</a></li> -->
                                            <li><a href="#">Confirmação</a></li>
<!--                                             <li><a href="#">Product Checkout</a></li> -->
                                        </ul>
                                    </li>
                                    <li><a href="/contact">Contato</a></li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Header Right -->
                        <div class="header-right">
                            <ul>
                                <li>
                                    <div class="nav-search search-switch">
                                        <span class="flaticon-search"></span>
                                    </div>
                                </li>
                                <li> <a href="login.html"><span class="flaticon-user"></span></a></li>
                                <li th:if="${cartQuantidade}" ><a href="cart"><span class="flaticon-shopping-cart" th:text="${cartQuantidade}">10</span></a></li>
                                <li th:unless="${cartQuantidade}" ><a href="cart"><span class="flaticon-shopping-cart"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>


<div th:fragment="footer" class="row align-items-center">
	<div class="col-xl-7 col-lg-8 col-md-7">
		<div class="footer-copy-right">
			<p>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				Copyright &copy;
				<script>document.write(new Date().getFullYear());</script>
				Ecommerce fictício usado apenas como portifólio <i
					class="fa fa-heart" aria-hidden="true"></i> by <a
					href="https://www.linkedin.com/in/carlos-carvalho-monteiro/"
					target="_blank">Carlos Monteiro</a>
				<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
			</p>
		</div>
	</div>
	<div class="col-xl-5 col-lg-4 col-md-5">
		<div class="footer-copy-right f-right">
			<div class="footer-social">
				<a href="https://github.com/carlosmonteiro85" target="_blank"><i
					class="fab fa-github"></i></a> <a
					href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcSMSqXbrGTQRHtZHGwhQRHMkjcxZCtbgpcsHxHTWBnnfvJgfVfhlttgzhHzgzpPXRHMdftDt"
					target="_blank"><i class="fab fa-google"></i></a> <a
					href="https://www.instagram.com/carlosmonteiro20/" target="_blank"><i
					class="fab fa-instagram"></i></a> <a href="https://wa.me/61991438352"
					target="_blank"><i class="fab fa-whatsapp"></i></a> <a
					href="https://www.linkedin.com/in/carlos-carvalho-monteiro/"
					target="_blank"><i class="fab fa-linkedin"></i></a>
			</div>
		</div>
	</div>
</div>