<!doctype html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Watch shop | eCommers</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon"
	href="assets/img/favicon.ico">

<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/slicknav.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
	<header th:replace="~{base :: header}"></header>
	<main>
		<div class="slider-area ">
			<div class="single-slider slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap text-center">
								<h2>Cart List</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<section class="cart_area section_padding">
			<div class="container">
				<div class="cart_inner">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th scope="col">Produto</th>
									<th scope="col">Preço</th>
									<th scope="col">Quantidade</th>
									<th scope="col">Total</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each=" item : ${checkout.cart.cartItens}">
									<td>
										<div class="media">
											<div class="d-flex">
												<img th:src="${item.produto.imagens[0].url}" alt="" />
											</div>
											<div class="media-body">
												<p th:text="${item.produto.nome}">Minimalistic shop for
													multipurpose use</p>
											</div>
										</div>
									</td>
									<td>
										<h5 th:text="${item.produto.preco}">$360.00</h5>
									</td>
									<td>
										<div class="product_count">
											<input type="text" th:value="${item.quantidade}" readonly="readonly"> 
										<span th:attr="onclick=|removerItem('${item.id}')|" class="input-number-increment"> <i class="ti-minus"></i></span>
										</div>
									</td>
									<td>
										<h5 th:text="${item.produto.preco * item.quantidade  }">$720.00</h5>
									</td>
								</tr>
								<tr>
									<td></td>
									<td></td>
									<td>
										<h5>
											Subtotal: <span th:text="${checkout.getSubtotal()}">
												R$10.00 </span>
										</h5>
									</td>
									<td>
										<h5>
											Total: <span th:text="${checkout.getTotal()}"> R$10.00
											</span>
										</h5>
									</td>
								</tr>
								<tr class="shipping_area">
									<td></td>
									<td></td>
									<td></td>
									<td>
										<div class="shipping_box">
											<ul class="list">
												<li>
													<h4>
														Frete
														<h5 th:text="${checkout.getFrete()}">Frete</h5>
													</h4>
												</li>
												<li>Por unidade: R$10.00 <input type="radio"
													id="valorUnidadeFrete">
												</li>
												<li>Acima de R$ 2000.00 frete Gratuito <input
													type="radio" id="freteCheck">
												</li>
											</ul>
											<br>
											<form th:action="@{/regiao}" th:object="${userDTO}"
												class="card-body" method="POST">
												<div></div>

												<div th:if="${checkout.cart.user.regiao != null}">
													<select id="regiaoId" class="shipping_select"
														th:field="*{regiao}">
														<option value="" th:text="${checkout.cart.user.regiao}">SUA
															REGIAO</option>
														<option
															th:each=" regiao : ${T(br.com.acme.fakeecomerce.timezone.domain.model.RegiaoEnum).values()}"
															th:value="${regiao}" th:text="${regiao}"></option>
													</select>
												</div>
												<div th:unless="${checkout.cart.user.regiao}">
													<select id="" class="shipping_select" th:field="*{regiao}">
														<option
															th:each=" regiao : ${T(br.com.acme.fakeecomerce.timezone.domain.model.RegiaoEnum).values()}"
															th:value="${regiao}" th:text="${regiao}"></option>
													</select>
												</div>

												<br> <br> <br>
												<button type="submit" class="btn_1">Atualizar
													Frete</button>
											</form>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<div class="checkout_btn_inner float-right">
							<a class="btn_1" href="/shop">Continuar comprando</a> <a
								class="btn_1 checkout_btn_1" href="/checkout">Finalizar</a>
						</div>
					</div>
				</div>
		</section>
	</main>
	<footer>
		<!-- Footer Start-->
		<div class="footer-area footer-padding">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="single-footer-caption mb-30">
								<!-- logo -->
								<div class="footer-logo">
									<a href="index.html"><img
										src="assets/img/logo/logo2_footer.png" alt=""></a>
								</div>
								<div class="footer-tittle">
									<div class="footer-pera">
										<p>Asorem ipsum adipolor sdit amet, consectetur
											adipisicing elitcf sed do eiusmod tem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Quick Links</h4>
								<ul>
									<li><a href="#">About</a></li>
									<li><a href="#"> Offers & Discounts</a></li>
									<li><a href="#"> Get Coupon</a></li>
									<li><a href="#"> Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>New Products</h4>
								<ul>
									<li><a href="#">Woman Cloth</a></li>
									<li><a href="#">Fashion Accessories</a></li>
									<li><a href="#"> Man Accessories</a></li>
									<li><a href="#"> Rubber made Toys</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Support</h4>
								<ul>
									<li><a href="#">Frequently Asked Questions</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Report a Payment Issue</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer bottom -->
				<div th:replace="~{base :: footer}"></div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	<!--? Search model Begin -->
	<div class="search-model-box">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-btn">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input"
					placeholder="Searching key.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- JS here -->
	<script th:inline="javascript">
            /*<![CDATA[*/

				window.onload = function carregarInformacao() {
					var frete = /*[[${checkout.getFrete()}]]*/'';
					
					var valorUnidadeFrete = document.getElementById("valorUnidadeFrete")
					
					var freteCheck = document.getElementById("freteCheck")
					
					if(frete > 0){
						valorUnidadeFrete.checked = true
						freteCheck.checked = false
						document.getElementById("freteCheck").disabled = true;
					}else{
						valorUnidadeFrete.checked = false
						freteCheck.checked = true
						document.getElementById("valorUnidadeFrete").disabled = true;
					}
				}
            
            	function removerItem(idItem){
            		window.location.href = "/cart/item?codigo="+ idItem;
            	}
            
				/*]]>*/
			</script>

	<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="./assets/js/popper.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="./assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="./assets/js/owl.carousel.min.js"></script>
	<script src="./assets/js/slick.min.js"></script>

	<!-- One Page, Animated-HeadLin -->
	<script src="./assets/js/wow.min.js"></script>
	<script src="./assets/js/animated.headline.js"></script>

	<!-- Scrollup, nice-select, sticky -->
	<script src="./assets/js/jquery.scrollUp.min.js"></script>
	<script src="./assets/js/jquery.nice-select.min.js"></script>
	<script src="./assets/js/jquery.sticky.js"></script>
	<script src="./assets/js/jquery.magnific-popup.js"></script>

	<!-- contact js -->
	<script src="./assets/js/contact.js"></script>
	<script src="./assets/js/jquery.form.js"></script>
	<script src="./assets/js/jquery.validate.min.js"></script>
	<script src="./assets/js/mail-script.js"></script>
	<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="./assets/js/plugins.js"></script>
	<script src="./assets/js/main.js"></script>

</body>
</html>