<!doctype html>
<html lang="zxx">
<head>
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Watch shop | eCommers</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="manifest" href="site.webmanifest">
<link rel="shortcut icon" type="image/x-icon"
	href="assets/img/favicon.ico">

<!-- CSS here -->
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/owl.carousel.min.css">
<link rel="stylesheet" href="assets/css/flaticon.css">
<link rel="stylesheet" href="assets/css/slicknav.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/magnific-popup.css">
<link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="assets/css/themify-icons.css">
<link rel="stylesheet" href="assets/css/slick.css">
<link rel="stylesheet" href="assets/css/nice-select.css">
<link rel="stylesheet" href="assets/css/style.css">
</head>

<body>

	<header th:replace="~{base :: header}"></header>
	<main>
		<!-- Hero Area Start-->
		<div class="slider-area ">
			<div class="single-slider slider-height2 d-flex align-items-center">
				<div class="container">
					<div class="row">
						<div class="col-xl-12">
							<div class="hero-cap text-center">
								<h2>Checkout</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<br> <br> <br>
		<!--================Checkout Area =================-->
		<div class="container">
			<div class="billing_details">
				<div class="row">
					<div class="col-lg-6">
						<h3>Detalhes da entrega</h3>
						<form class="row contact_form" action="#" method="post"
							novalidate="novalidate">
							<div class="col-md-12 form-group p_star">
								<input type="text" class="form-control" id="first" name="name" 
								placeholder="Nome Destinatário" />
							</div>
							<div class="col-md-12 form-group p_star">
								<input type="text" class="form-control" id="cep"
									name="cep" onblur="buscarCep()" placeholder="CEP" /> 
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="logradouro"
									name="compemailany" placeholder="Logradouro" /> 
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="localidade"
									name="compemailany" placeholder="Localidade" />
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="bairro"
									name="compemailany" placeholder="Bairro" /> 
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="uf" name="add1" 
								placeholder="UF" />
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="add2" name="add2" 
								placeholder="Celular"/>
							</div>
							<div class="col-md-6 form-group p_star">
								<input type="text" class="form-control" id="city" name="city" 
								placeholder="Telefone" />
							</div>
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="zip" name="zip"
									placeholder="Email" />
							</div>
						</form>
					</div>
					<div class="col-lg-6">
						<div class="order_box">
							<h2>Ordem de Serviço</h2>
							<ul class="list">
								<li><a href="#">Código produto <span>Total</span>
								</a></li>
								<li th:each=" item : ${checkout.cart.cartItens}"><a> <span
										class="middle" th:text="${ item.produto.codigoProduto }">02</span>
										<span class="middle" th:text="${' x ' + item.quantidade}">02</span>
										<span class="last"
										th:text="${ 'R$' + item.produto.preco * item.quantidade}">$720.00</span>
								</a></li>
							</ul>
							<ul class="list list_2">
								<li><a href="#">Subtotal <span>R$ <span
											th:text="${checkout.getSubtotal()}">$2160.00</span></span>
								</a></li>
								<li><a href="#">Frete <span>Taxa fixa: R$ <span
											th:text="${checkout.getFrete()}">Flat rate: $50.00</span></span>
								</a></li>
								<li><a href="#">Total <span>R$ <span
											th:text="${checkout.getTotal()}">$2210.00</span></span>
								</a></li>
							</ul>
							<div class="payment_item">
								<div class="radion_btn">
									<input type="radio" id="f-option5" name="selector" /> <label
										for="f-option5">Boleto</label>
									<div class="check"></div>
								</div>
							</div>
							<div class="payment_item active">
								<div class="radion_btn">
									<input type="radio" id="f-option6" name="selector" /> <label
										for="f-option6">Paypal </label> <img
										src="img/product/single-product/card.jpg" alt="" />
									<div class="check"></div>
								</div>
							</div>
							<div class="creat_account">
								<input type="checkbox" id="f-option4" name="selector" /> <label
									for="f-option4">Eu li e aceito os</label> <a href="#">termos
									& condições*</a>
							</div>
							<a class="btn_3" href="#">Efetuar pagamento</a>
						</div>
					</div>
				</div>
			</div>
			<!--         </section> -->
			<!--================End Checkout Area =================-->
	</main>
	<footer>
		<!-- Footer Start-->
		<div class="footer-area footer-padding">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-6">
						<div class="single-footer-caption mb-50">
							<div class="single-footer-caption mb-30">
								<div class="footer-logo">
									<a href="index.html"><img
										src="assets/img/logo/logo2_footer.png" alt=""></a>
								</div>
								<div class="footer-tittle">
									<div class="footer-pera">
										<p>Asorem ipsum adipolor sdit amet, consectetur
											adipisicing elitcf sed do eiusmod tem.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-3 col-md-3 col-sm-5">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Quick Links</h4>
								<ul>
									<li><a href="#">About</a></li>
									<li><a href="#"> Offers & Discounts</a></li>
									<li><a href="#"> Get Coupon</a></li>
									<li><a href="#"> Contact Us</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>New Products</h4>
								<ul>
									<li><a href="#">Woman Cloth</a></li>
									<li><a href="#">Fashion Accessories</a></li>
									<li><a href="#"> Man Accessories</a></li>
									<li><a href="#"> Rubber made Toys</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-md-5 col-sm-7">
						<div class="single-footer-caption mb-50">
							<div class="footer-tittle">
								<h4>Support</h4>
								<ul>
									<li><a href="#">Frequently Asked Questions</a></li>
									<li><a href="#">Terms & Conditions</a></li>
									<li><a href="#">Privacy Policy</a></li>
									<li><a href="#">Report a Payment Issue</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<!-- Footer bottom -->
				<div th:replace="~{base :: footer}"></div>
			</div>
		</div>
		<!-- Footer End-->
	</footer>
	<!--? Search model Begin -->
	<div class="search-model-box">
		<div class="h-100 d-flex align-items-center justify-content-center">
			<div class="search-close-btn">+</div>
			<form class="search-model-form">
				<input type="text" id="search-input"
					placeholder="Searching key.....">
			</form>
		</div>
	</div>
	<!-- Search model end -->

	<!-- JS here -->

	<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<!-- Jquery, Popper, Bootstrap -->
	<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
	<script src="./assets/js/popper.min.js"></script>
	<script src="./assets/js/bootstrap.min.js"></script>
	<!-- Jquery Mobile Menu -->
	<script src="./assets/js/jquery.slicknav.min.js"></script>

	<!-- Jquery Slick , Owl-Carousel Plugins -->
	<script src="./assets/js/owl.carousel.min.js"></script>
	<script src="./assets/js/slick.min.js"></script>

	<!-- One Page, Animated-HeadLin -->
	<script src="./assets/js/wow.min.js"></script>
	<script src="./assets/js/animated.headline.js"></script>
	<script src="./assets/js/jquery.magnific-popup.js"></script>

	<!-- Scroll up, nice-select, sticky -->
	<script src="./assets/js/jquery.scrollUp.min.js"></script>
	<script src="./assets/js/jquery.nice-select.min.js"></script>
	<script src="./assets/js/jquery.sticky.js"></script>

	<!-- contact js -->
	<script src="./assets/js/contact.js"></script>
	<script src="./assets/js/jquery.form.js"></script>
	<script src="./assets/js/jquery.validate.min.js"></script>
	<script src="./assets/js/mail-script.js"></script>
	<script src="./assets/js/jquery.ajaxchimp.min.js"></script>

	<!-- Jquery Plugins, main Jquery -->
	<script src="./assets/js/plugins.js"></script>
	<script src="./assets/js/main.js"></script>
	
	<script type="text/javascript">
	function buscarCep(){
		var cep = document.getElementById("cep").value.replace(/\D/g,'');
		
		var url = "http://viacep.com.br/ws/"+cep+"/json/";
		
			const userData = fetch(url)
		  	 .then(response => response.json())
		 	  .then(data => {
			
		 	document.getElementById('logradouro').value = data.logradouro;
		 	document.getElementById('localidade').value = data.localidade;
		 	document.getElementById('bairro').value = data.bairro;
		 	document.getElementById('uf').value = data.uf;

		   }).catch(error => {
		   })			
	}
	
	</script>

</body>
</html>